* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

body {
    background-color: #BE95C4
}

.center {
    display: flex;
    /* para centralizar tudo: */
    margin: 0 auto;
    max-width: 1100px;
}

.header {
    padding: 15px;
    background-color: white;
    border-bottom: 3px solid rgb(230, 230, 230);
}

.headerLogo {
    width: 50%;
}

.headerLoginForm {
    width: 50%;
    text-align: right;
}

.headerLoginForm input[type=text],
.headerLoginForm input[type=password] {
    width: 200px;
    height: 25px;
    border: 1px solid #9F86C0;
    padding: 5px;
    margin-right: 15px;
    border-radius: 100px;
    padding-left: 20px;
}

.headerLoginForm input[type=submit] {
    color: #ffffff;
    cursor: pointer;
    background-color: #5E548E;
    width: 70px;
    height: 25px;
    border: 2px;
    border-radius: 100px;
}

.headerLoginForm a{
    text-decoration: none;
}

.btn_criarConta {
    font-size: 15px;
    margin-top: 5px;
}

.header_logado {
    width: 50%;
    text-align: right;
}

.header_logado a {
    /* isso faz nao ficar com a linha chata embaixo! */
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    cursor: pointer;
    background-color: #5E548E;
    width: 70px;
    height: 25px;
    border-radius: 100px;
    padding: 7px;
}